<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <title>Skeleton</title>
    <%= stylesheet_include_tag :application %>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag :application %>
</html>
